.queryModal {
  position: fixed;
  top: 150px;
  margin-right: 25px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(white, lightgrey);
  color: red;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 9999;
}

.queryModal.show {
  opacity: 1;
  display: block;
}

.qModal {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 25px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(white, lightgrey);
  color: black;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 9999;
}

.qModal.show {
  opacity: 1;
  display: block;
}

.custom-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.custom-modal.show {
  display: flex;
}

.custom-modal-content {
  background: linear-gradient(white, lightgrey);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
