$primary: #000000;
$danger: #dc3545;
$warning: #ffc107;
$success: #000000;
$secondary: #6c757d;
$light: #f8f9fa;
$dark: #212529;
$muted: #6c757d;
$low: #dee2e6;
$font-stack: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;